*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    line-height: 1.6;
    overflow-x: hidden;
  }
  
  nav{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #CDCDCD;
    position: relative;
    height: 65px;
  }
  
  .logo{
    color: #fff;
    padding: 20px 0;
    text-align: left;
  }
  img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #334064;
    font-size: 13px;
    font-weight: 600;
  }
  
  nav ul li a:hover{
    color: #4385F5;
  }
  .menu-icon{
    display: none;
  }
  
  .menu-icon i{
    color: #a5a7ae;
    font-size: 18px;
    border: 1px solid #78829b;
    padding: 5px 11px;
    border-radius: 4px;
    background-color: #d0d1d5;
  }
  nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #CDCDCD; 
    z-index: 999;
    /* transition: all 0.3s ease-in-out; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  @media (max-width:768px) {
    nav ul{
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #F8F8F8;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 0px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    nav ul li a{
      text-decoration: none;
      color: #78829b;
      font-size: 13px;
      font-weight: 500;
      padding: 0 0;
      border-radius: 25px;
      background-color: transparent;
      margin-left: 10px;
    }

    nav ul{
      align-items: normal;
    }
  }

  #top_header {
    background: url(../images/slide.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 762px; */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 995px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1201px) {
  .container {
    width: 1170px;
  }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
#top_header .image-container {
    margin-bottom: 10px !important;
}
.p-slide {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    line-height: normal;
    margin-bottom: 55px;
    padding-bottom: 0;
}
.buy-now a, .theme-footer a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    position: relative;
    z-index: 10;
    background-color: #4285f4;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 50px;
}
.buy-now a:hover{
    background-color: rgba(169, 164, 164, 0.811); 
    /* z-index: -999; */
    /* transition: all 0.3s ease-in-out; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
}
#demo{
  margin-top: 2rem;
}
#demo .header-box {
  width: 100%;
  height: 500px;

  position: relative;
  transition: all 7s ease-out;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.35);
  border-radius: 4px;
}
 .demo1 {
  background-image: url(images/demo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.demo2 {
  background-image: url(images/demo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.demo3 {
  background-image: url(images/demo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.demo4 {
  background-image: url(images/demo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.demo5 {
  background-image: url(images/demo5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.demo6 {
  background-image: url(images/demo6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.rows{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
#demo {
  padding-top: 0;
  padding-bottom: 30px !important;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.text-center {
  text-align: center;
}
.title-special {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}
.title-special .amount {
  font-size: 189px;
  font-weight: 700;
  color: #333;
  line-height: 1;
}
.title-special .status {
  font-size: 40px;
  font-weight: 700;
  display: block;
  color: #333;
  margin-top: -20px;
  text-transform: uppercase;
}
.core-sub-title {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.core-sub-title {
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 auto 45px;
  color: #666;
  text-align: center;
  width: 75%;
  font-size: 16px;
}
.header-box > a {
  display: block;
}
#demo .header-box a span {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%);
  font-size: 14px;
  text-transform: capitalize;
  background: #4285f4;
  border: 1px solid #4285f4;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  z-index: 10;
  right: 0;
  max-width: 135px;
  text-align: center;
  border-radius: 30px;
}
#demo .demo p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 40px;
}
p {
  color: #666;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
#demo .demo p a {
  color: #666;
  text-transform: uppercase;
  text-decoration-line: none;
}
@media (max-width: 992px){
  .rows{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 768px){
  .rows{
    grid-template-columns: repeat(1,1fr);
  }
}